/* ns__file unit: standard, comp: .eslintrc */
{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    /* ns__custom_start lintRules */
    "no-return-assign": "off",
    "unicorn/filename-case": "off",
    "no-await-in-loop": "off",
    "max-params": "off"
    /* ns__custom_end lintRules */
  }
}
